<launch>

  <!-- Аргумент для запуска RViz -->
  <arg name="rviz" default="true" />

  <!-- Узел scanRegistration_horizon -->
  <node pkg="livox_mapping_ros2" exec="loam_scanRegistration_horizon" name="scanRegistration_horizon" output="screen">
  </node>

  <!-- Узел laserMapping с параметрами -->
  <node pkg="livox_mapping_ros2" exec="loam_laserMapping" name="laserMapping" output="screen">
    <param name="map_file_path" value=""/>
    <param name="filter_parameter_corner" value="0.2"/>
    <param name="filter_parameter_surf" value="0.4"/>
  </node>

  <!-- Узел livox_repub с ремаппингом топика -->
  <node pkg="livox_mapping_ros2" exec="livox_repub" name="livox_repub" output="screen">
    <remap from="/livox/lidar" to="/livox/lidar"/>
  </node>

  <!-- Группа для запуска RViz, если аргумент rviz установлен в true -->
  <group if="$(var rviz)">
    <node pkg="rviz2" exec="rviz2" name="rviz" output="screen" launch-prefix="nice" args="-d $(find-pkg-share livox_mapping_ros2)/rviz_cfg/loam_livox.rviz">
      <!-- <launch-prefix>nice</launch-prefix> -->
    </node>
  </group>

</launch>